#button_dog_selector:hover {
    -fx-text-fill: #4C799A;
}
#button_messages:hover {
    -fx-text-fill: #4C799A;
}
#button_dog_hair_setter:hover {
    -fx-text-fill: #4C799A;
}
#button_logout:hover {
    -fx-text-fill: #4C799A;
}

